html,
body {
  position: relative;
  height: 100%;
}

body {
  background: rgb(255, 255, 255);
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-weight: 200;
  margin: 0;
  padding: 0;
}

.swiper-container {
  width: 100%;
  height: 100%;
  background: black;
}

.swiper-slide {
  width: 20%;
  transition: all 1s;
}

.swiper-slide-container {
  transition: all 0.6s;
  transform: translateX(0);
  width: 100%;
  height: 100%;
  will-change: width;
  background-color: white;
  background-image: linear-gradient(
    90deg,
    rgba(0, 0, 0, 0.86) 0%,
    rgba(0, 0, 0, 1) 100%
  );
}
.swiper-slide-container.active {
  width: 400%;
}
.swiper-slide-container.prev {
  transform: translateX(-150%) !important;
}
.swiper-slide-container.next {
  transform: translateX(150%) !important;
}
.expanded {
  width: 200%;
  height: 100%;
}

.titleImage {
  position: absolute;
  left: 50px;
  top: 50px;
  height: 100px;
  z-index: 1;
}

#spaceTitle {
  position: relative;
  /* position: -webkit-sticky; */
  left: 50px;
  top: 50px;
  /* margin-top: 50px; */
  height: 10%;
  z-index: 10;
}

.coverImage {
  position: absolute;
  opacity: 80%;
  /* center vertically */
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  margin: 0;
  /* align to right */
  right: 0;
  object-fit: cover;
  object-position: left top;
  /* animated transition */
  filter: grayscale(1);
  transition: 1s;
  width: 300px;
  height: 500px;
}

.coverImage:hover {
  filter: grayscale(0);
  width: 350px;
  position: absolute;
  cursor: pointer;
}

.swiper-slide-active .coverImage {
  filter: grayscale(0);
  width: 350px;
  position: absolute;
  cursor: pointer;
}

h1 {
  position: absolute;
  right: 40px;
  bottom: 15%;
  font-size: 25px;
  color: rgba(255, 255, 255, 0.7);
}

/* .group1 h1 {
  background: -webkit-linear-gradient(180deg, #88e3f9, #278bff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.group2 h1 {
  background: -webkit-linear-gradient(180deg, #FFC24A, #FF5C00);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.group3 h1 {
  background: -webkit-linear-gradient(180deg, #FB4AFF, #6d12ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.group4 h1 {
  background: -webkit-linear-gradient(180deg, #90DA47, #3CDC99);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
} */

.swiper-slide-active h1 {
  text-decoration: underline !important;
  background: -webkit-linear-gradient(180deg, #88e3f9, #278bff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  cursor: pointer;
}

.swiper-slide-active h1:hover {
  background: white;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  cursor: pointer;
}

h2 {
  position: absolute;
  right: 40px;
  bottom: 12%;
  font-size: 20px;
  color: #eee;
  font-weight: 300;
}

#control {
  position: absolute;
  width: fit-content;
  left: 0;
  right: 0;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  bottom: 30px !important;
}

.swiper-pagination {
  width: fit-content;
}
.swiper-pagination-bullet {
  background: white;
  width: 10px;
  height: 10px;
  margin: 3px;
}

.swiper-button-prev,
.swiper-button-next {
  /* position: fixed; */
  font-size: 20px !important;
  color: white;
  background-color: rgb(51, 51, 51);
  width: 44px;
}

.swiper-button-prev {
  margin-right: 28px;
}

.swiper-button-next {
  margin-left: 28px;
}

/* #mainButton {
  position: fixed;
  top: 75%;
  right: 42.5%;
  margin: 0 auto;
  width: 80px;
  z-index: 10;
} */


@media screen and (max-width: 700px) {
  .box {
    width: 70%;
  }
  .popup {
    width: 70%;
  }
}

.title {
  position: absolute;
}
.title img {
  display: none;
  z-index: 5;
}
.pulled-content {
  display: none;
  position: absolute;
  top: 0px;
  left: 0px;
  color: white;
  height: 100%;
}

.pull-wrapper {
  width: 100%;
  height: 100%;
  margin-top: 8%;
  margin-left: 10%;
  right: 200px;
}

video {
  position: absolute;
  top: 52%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  width: 60%;
  aspect-ratio: 16/9;
  object-fit: contain;
  background-color: black;
}

.text-wrapper {
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

.text-wrapper p {
  line-height: 28px;
  width: 45%;
  margin-top: 0;
  text-align: left;
}

h3 {
  margin-top: 1%;
  color: rgb(255, 255, 255);
  font-family: Tahoma, Arial, sans-serif;
}

h4 {
  margin-top: 0;
  margin-bottom: 0;
  color: rgb(255, 255, 255);
  font-family: Tahoma, Arial, sans-serif;
}

.disabled {
  pointer-events: none;
}

/* 以下是收起按钮 */
.back {
  position: absolute;
  right: 40px;
  font-size: 30px;
  text-decoration: none;
  color: white;
}

.back:hover {
  color: #88e3f9;
}

/* 以下是button */
.inside-button {
  position: absolute;
  left: -20.5%;
  bottom: 13%;
  width: 100%;
  transform: scale(0.33);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.effect1 {
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-family: sans-serif;
  font-size: 24px;
  position: relative;
  padding: 10px 50px 10px 20px;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-transform: scale(3);
      -ms-transform: scale(3);
          transform: scale(3); /*change scale(3) to scale(1)*/
}

.effect1 .bg {
  background: rgb(255, 255, 255);
  width: 30px;
  height: 2px;
  position: absolute;
  right: 0;
  top: 50%;
  margin-top: -1px;
  z-index: -1;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.effect1:hover {
  padding-right: 20px;
  color: rgb(0, 0, 0);
}

.effect1:hover .bg {
  height: 100%;
  width: 100%;
  -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
          transform: translate(0, -50%);
}

.effect1 .bg:before, .effect1 .bg:after {
  content: '';
  height: 2px;
  width: 10px;
  background: rgb(255, 255, 255);
  position: absolute;
  right: -2px;      
  -webkit-transition: all 0.3s;      
  -o-transition: all 0.3s;      
  transition: all 0.3s;
}

.effect1 .bg:before {
  bottom: 3px;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}
.effect1 .bg:after{
  top: 3px;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.effect1:hover .bg:before,
.effect1:hover .bg:after{
  right: 0;
}

.effect1:hover .bg:before{
  bottom: 6px;
}

.effect1:hover .bg:after{
  top: 6px;
}